* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
body{
  background-color: black;
}
.container {
  display: flex;
  background: yellow;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  top:0;
  left: 0;
  z-index: 5;

  

}
.pmugraphcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.container2 {
  display: flex;

  background: black;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10em;
}

.container2 div {
  height: 10em;
  width: 10em;
  padding: 1em;
  margin: 1em;
  

  text-align: center;
}
input {
  background-color: lightpink;
  width: 15em;
  height: 4em;
}

.card {
  background: yellow;
  border: solid 5px black;
 
}
button{
  background-color: white;
}
h1{
  color: bisque;
}