* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  text-align: center;
  font-size: 50px;
}

body {
    background-color: #5ec8d0;
}

.container {
    display: flex;
    background: #42a6ba;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;



}

.container2 {
    display: flex;

    background: black;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.container2 div {
    height: 10em;
    width: 10em;
    padding: 1em;
    margin: 1em;


    text-align: center;
}

input {
    background-color: #495e5e;
    width:5em ;
    height: 2em;
  padding: 0.2em;
}

.card {
    background: #3f80c5;
    border: solid 5px #54b6a6;

}

button {
  padding: 5px;
  margin: 1em;
    background-color: #60ac98;
    border-radius: 10%;
  border:solid 1px black;
  box-shadow: #3f80c5;
  color: #0b3e3e;

}
label{
  margin: 5px;
  padding: 1em;
  color: rgba(41, 80, 9, 0.98);
}
h1 {
    color: bisque;
}
li{color: #dcdce7
}